html {
  font-family: 'Permanent Marker', cursive;
}
body {
  background-color: skyblue;
}

 #main-h1 {
   font-size: 350%;
   text-align: center;
   text-shadow: 0px 3px white;
 }
 
 #app {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
 }
 
 .card {
   margin: 1em;
   padding: 1em;
   text-align: center;
   border: solid 4px black;
   background-color: white;
 }

 .card--id {
   float: left;
 }